*.py[cod]
.*
!.babelrc
!.codeclimate.yml
!.coveragerc
!.dockerignore
!.flowconfig
!.gitignore
!.nvmrc
!.pylintrc
!.travis*
!.eslintrc.json
*.log
*.pot
*.pyc
local_settings.py
__pycache__/
build/
dist/
*\.egg*
# data
/docs/_build/
/media/
/node_modules/
/saleorenv/*
ENV
STAGE_ENV
error-while-importing.csv
/venv/
dump.rdb
celerybeat.pid
!**/__init__.py
env.py
b2b2/b2b2/env.py
**/migrations/*.py
**/migrations/*.pyc
sonar-project.properties
/src/django-storages/
*.zip