<html lang="en">
      {% load i18n %}
      {% load static %}
      {% load render_bundle from webpack_loader %}
      {% load i18n %}
   <head>
      <meta charset="utf-8">
      <title>MedleyMed Network</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no,  minimal-ui" />
      <meta content="" name="keywords">
      <meta content="" name="description">
      <!-- Favicons -->

      <link rel="shortcut icon" href="{% static "assets/images/favicon.ico" %}">
      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-N3JJZ7H');</script>
      <!-- End Google Tag Manager -->
      <!-- Bootstrap CSS File -->
      <link rel="stylesheet" href="{% static "home_v2/lib/bootstrap/css/bootstrap.min.css" %}" >
      <!-- Libraries CSS Files -->
      {# <link rel="stylesheet" type="text/css" href="{% static "home_v2/font-awesome/css/font-awesome.min.css" %}"> #}
      <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="{% static "home_v2/lib/animate/animate.min.css" %}" >
      <!-- Auto complete css File -->
      <link rel="stylesheet" href="{% static "home_v2/lib/auto-complete/jquery-ui.css" %}">
      <!-- Main Stylesheet File -->
      <link rel="stylesheet" href="{% static "home_v2/css/style.css" %}">
      <style>
         .tnc{
            margin: 152px 12px 50px 12px!important;
         }
              body{
                  margin: 0px!important;
              }
      ul {
        /* list-style-type: none; */
        /* padding: 0; */
        margin: 0;
      }
      
      ul >li {
          margin-left: 1em;
          list-style-position: outside;
         
      }
      .footer_copy{
          border-top:1px solid #ccc;
      }
      
      .refund_policy li{
        
            list-style-type:none;
            list-style-position:outside;
            display:flex;
        
      }
      .refund_policy li span{
        padding-left: 10px;
      }

      .refund_policy li:before{
        
            content: "\00BB";
            color: #000;
          
          
        
          
          
        {% comment %} content:'&#x27A3'; {% endcomment %}
        display:inline-block;
        font-size:14px;
      }
             
           
          </style>
   </head>
   <body>
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N3JJZ7H"
         height="0" width="0" style="display:none;visibility:hidden"></iframe>
      </noscript>
      <!--==========================
         Header
         ============================-->
         {% include 'header.html' %}
      <!-- #header -->
      








<!-- <title>Terms And Conditions</title> -->
<body>
   <div class="container">
        <div class="tnc">

            <h2 style="text-align:center;font-family:'Roboto', sans-serif; margin-bottom:45px;">About Us</h2>
            <h5 style="font-family: 'Roboto', sans-serif;">Smart, Simple, & Efficient Healthcare For The Age Of Mobility</h5>
            <p align="justify">Healthcare is needlessly complex. Millions of patients suffer a harrowing experience with lack of access to quality care providers, uncertainty in treatment options, and spiraling costs causing much anxiety. On the other hand, not being healthy affects our self-esteem, confidence, productivity, and happiness.   </p> 
            <p align="justify">At MedleyMed Network, we believe that technology provides an important part of the solution. Leveraging a best-in-class application stack, we are making the healthcare value chain more efficient. Improving outcomes, lowering costs, and matching supply and demand ensures that healthcare works for everyone—for patients and providers. Our work is making the experience of buying medicines online better.</p>
            <p align="justify">Besides technology, we bring a collaborative approach to the table. All talk of creative destruction by startups aside, we believe that outcomes in the healthcare sector depend to a large degree on the expertise of providers. We have unconditional respect for this expertise and that is why we seek to work with existing players in a spirit of co-operation, rather than competition.</p>
            <p align="justify">Our aspiration is to be a platform that brings together the different moving parts of the healthcare machine and ensure that they work together in harmony. Our technology expertise helps our partners reach new customers, improve service quality, and explore new revenue streams. We have a twin focus on ensuring better experiences for our customers and better growth for our partners.</p>



            <h5 style="font-family: 'Roboto', sans-serif;">Health Is Harmony</h5>
            <p align="justify">MedleyMed Network seeks to reimagine healthcare for the new age—with the patient at the centre. Our vision is to harness the power of technology to orchestrate the complex healthcare value chain for the benefit of patients. We are improving accessibility, reliability and affordability through efficient demand aggregation, supply chain reengineering and analytics.</p>
            <p align="justify">As an innovative start-up led by a young team of thinkers and doers, we operate at the cutting edge of technology and health. Backed by the minds that built Athena Global Technologies into a successful IT services firm, our technology team brings together stellar experts with over two decades of experience in building world-class technology solutions.</p>
            <p align="justify">We are differentiated by our collaborative approach in working together with existing healthcare players—physicians, Pharmacies, Diagnostic centres and Hospitals—to deliver convenient, affordable and hassle-free care to patients. Our aim is to create a vibrant ecosystem which helps both patients and our partners.</p>
            <p align="justify">Using the innovative MedleyMed Network technology applications we are well on the way to making a mobile device the gateway to a world of health services. From tele-consultations and diagnostics to buying medicines online and receiving a host of services. We take ownership of the total stakeholder experience and strive to deliver world-class care across touchpoints.</p>
            <p align="justify">Our ethically driven approach means that you experience fair, empathetic and responsive service at every interaction. MedleyMed’s robust technology stack is built for speed, scale and security. Built using a high-watermark approach to compliance, our products and solutions comply with applicable healthcare regulations.</p>
            <p align="justify">Health is harmony—the symbiotic and co-ordinated working of the human body. Similarly, our approach to delivering care builds on this principle. We ensure that we work with partners to complement their strengths in an environment of trust. Today, hundreds of partners and patients trust MedleyMed—a number that will soon touch millions. Onward with our aspirations!</p>


            <h5 style="font-family: 'Roboto', sans-serif;">Company Highlights</h5>
            <ul>
                <li>Recognized as one of India’s leading healthcare solution providers.</li>
                <li>India’s leading Digital platform for Pharmacies.</li>
                <li>Over 150 professionals are working round-the-clock to develop, build and market our products.</li>
                <li>Led by a strong team of IIMs and IITs and experts with over 20 years of experience in building world-class technology solutions</li>
                <li>Present in over 50% of the Pharmacies in the city of Hyderabad and expanding rapidly.</li>
            </ul>

            <br>
            <h5 style="font-family: 'Roboto', sans-serif;">Our Vision</h5>
            <p align="justify">Our endeavour is to make healthcare convenient and affordable for all the involved stakeholders. By bringing our proven expertise in technology, we work together with our partners—Doctors, Pharmacies, Diagnostic centres, and Hospitals—to make the healthcare ecosystem more efficient and effective.</p>
            
            <h5 style="font-family: 'Roboto', sans-serif;">Our Values</h5>
            <p align="justify">MedleyMed Network is a diverse group of talented individuals, each bringing unique skills and viewpoints. Yet, we are united in our pursuit of common values that form the bedrock of everything we do. It is these beliefs that hold us together and help us achieve our goals. At every interaction, you can be assured of experiencing these qualities.</p>
  
        </div>
    </div>
<div class="row">
   <div class="col-lg-12 col-md-12 text-center" style="box-shadow: 16px 6px 15px 13px rgb(0 0 0 / 10%);">      
         {% include 'footer.html' %}
      </div>       
    </div>
</body> 