{% extends 'dashboard.html' %}
{% load static %}
{% block title %}Reset Password - MedleyMed Network{% endblock %}
{% block custom_css %}
<style>
    .card-header .flex-container {
        display: flex;
        justify-content: space-between;
    }

    .card-header .col-sm-12,
    .card-header .col-md-6,
    .card-header .col-lg-2,
    .card-header .col-lg-6 {
        flex-grow: 1;
        max-width: 100%;
    }

   

    .btn {
        display: inline-block;
    }

    .card {
        margin: 0 auto; /* Center the card */
        width: 400px; /* Set desired width */
    }

   
</style>
{% endblock %}
{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row justify-content-center py-4"> <!-- Center the row -->
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <h4 class="text-center mb-4">Reset Password</h4>
                        <form action="" method="post" id="password_check">
                              {% csrf_token %}
                              <input type="hidden" id="user_id" name="user_id" value="{{user_id}}">
                            <div class="mb-3">
                                <label for="password" class="form-label">Password<span class="text-danger">*</span></label>
                                <div class="input-group input-group-merge">
                                    <input type="password" id="password" name="password" class="form-control" placeholder="Enter your password" required>
                                    <div class="input-group-text" data-password="false">
                                        <span class="password-eye"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="confirm_password" class="form-label">Confirm Password<span class="text-danger">*</span></label>
                                    <div class="input-group input-group-merge">
                                        <input type="password" id="confirm_password" name="confirm_password" class="form-control" placeholder="Confirm your password" required>
                                        <div class="input-group-text" data-password="false">
                                            <span class="password-eye"></span>
                                        </div>
                                    </div>
                                  
                                    <h6 class="text-danger" id="password_err">{{error}}</h6>
                                    
                            </div>
                           <a href="{% url 'reset-password' %}"><button type="button" class="btn btn-primary btn-block">Back</button></a>
                            <button type="submit" class="btn btn-success btn-block">Update Password</button>
                        </form>
                    </div> <!-- end card-body -->
                </div> <!-- end card -->
            </div> <!-- end col -->
        </div> <!-- end row -->
    </div> <!-- end container-fluid -->
</div> <!-- end content -->
{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function() {
        var is_valid_passwords;
        $("#password").on("input", function() {
            const password_2 = $("#confirm_password").val();
            const password_1 = $(this).val();
            $("#password_err").text("");
            $("#password_err").removeClass("text-success").addClass("text-danger");
             if(password_1.trim() && password_2.trim()) {
                if (password_1 !== password_2) {
                    is_valid_passwords = false;
                    $("#password_err").text("Password and confirm password does not matched!.");
                    $("#password_err").next(".mdi").remove();
                    is_valid_passwords = true;
                    $("#password_err").text("Matched").removeClass("text-danger").addClass("text-success");
                    $("#password_err").next(".mdi").remove();
                    $("#password_err").append('<span><i class="mdi mdi-check-bold text-success" style="color: green;"></i></span>');
                }
            }
        });
        $("#confirm_password").on("input", function() {
            const password_1 = $("#password").val();
            const password_2 = $(this).val();
            $("#password_err").text("");
            $("#password_err").removeClass("text-success").addClass("text-danger");
            if (password_2.trim()){
            if (password_1.trim() === "") {
                is_valid_passwords = false;
                $("#password_err").text("Password can not be empty");
                $(this).val("");
                $("#password_err").css("color", "initial");
            } else {
                if (password_1 !== password_2) {
                    is_valid_passwords = false;
                    $("#password_err").text("Password and confirm password does not matched!.");
                    $("#password_err").next(".mdi").remove();
                } else {
                    is_valid_passwords = true;
                    $("#password_err").text("Matched").removeClass("text-danger").addClass("text-success");
                    $("#password_err").next(".mdi").remove();
                    $("#password_err").append('<span><i class="mdi mdi-check-bold text-success" style="color: green;"></i></span>');
                }
            }
        }
        });

        $("#password_check").submit(function(event) {
            const pswd = $("#password").val();
            if (!is_valid_passwords) {
                event.preventDefault();
            }else if(is_valid_passwords && pswd.length < 6){
                $("#password_err").removeClass("text-success").addClass("text-danger");
                $("#password_err").text("Password must be at least six characters long"); 
                event.preventDefault();
            }
        });
    });
    
</script>

{% endblock %}
