{% extends 'dashboard.html' %}
{% load static %}
{% block title %}Reset Password - MedleyMed Network{% endblock %}
{% block custom_css %}
<style>
    .card-header .flex-container {
        display: flex;
        justify-content: space-between;
    }

    .card-header .col-sm-12,
    .card-header .col-md-6,
    .card-header .col-lg-2,
    .card-header .col-lg-6 {
        flex-grow: 1;
        max-width: 100%;
    }

    .form-control {
        width: calc(100% - 10px);
        margin-right: 10px;
    }

    .btn {
        display: inline-block;
    }
    .card {
        margin: 0 auto; /* Center the card */
        width: 400px; /* Set desired width */
    }

    .form-control {
        margin-bottom: 10px; /* Add some space between form fields */
    }
</style>
{% endblock %}
{% block content %}
<div class="content">
    <div class="container-fluid">
       
        <div class="row justify-content-center py-4"> <!-- Center the row -->
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <h4 class="text-center mb-4">Reset Password</h4>
                        <form action="" method="get">
                            <div class="mb-3">
                                <label for="email_or_phone" class="form-label">Email/Phone<span class="text-danger">*</span></label>
                                <input type="text" id="email_or_phone" name="email_or_phone" value="{{request.GET.email_or_phone}}" class="form-control" placeholder="Email/Phone no" required>
                                 {% if error %}
                            <h6 class="text-danger">{{error}}</h6>
                            {% endif %}
                            </div>
                            <!-- <div class="mb-4">
                                <input type="password" class="form-control" placeholder="New Password">
                            </div> -->
                            <button type="submit" class="btn btn-success btn-block">Reset Password</button>
                        </form>
                    </div> <!-- end card-body -->
                </div> <!-- end card -->
            </div> <!-- end col -->
        </div> <!-- end row -->
    </div> <!-- end container-fluid -->
</div> <!-- end content -->
{% endblock %}
